@use '../util/' as u;

h1,
h2,
h3,
h4{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}
h1 {
    font-size: 7.5vw;
}

p{ 
    line-height: 1.7;
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}