@forward './globals/';
@forward './components/';

section{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.container{
    display: grid;
    width: min(100% - 10%, 1216px);
    margin-inline: auto;
    gap: 1rem;
}

.s_bulet_benefits .container .content_bulet_benefits{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.s_bulet_benefits .container .content_bulet_benefits .content_item{
    flex: 1 1 auto;
    padding: 1rem;
    border-radius: .8rem;
    background-color: #FDDE9B;
}
.s_bulet_benefits .container .content_bulet_benefits .content_item h4{
    font-size: var(--body-text);
}

.s-problems {
    .container {
        h2 {
            font-size: var(--title);
            text-align: center;
        }
        h3 {
            font-size: var(--subtitle);
            text-align: center;
        }
        .content_problems {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2.4rem;
        }
    }

}

.s-benefits .container h2{
    text-align: center;
    font-size: var(--title);
}
.s-benefits .container .content_benefits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}
.s-benefits .container .content_benefits .info_benefits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.25rem;
}
.s-benefits .container .content_benefits .info_benefits p{
    text-align: center;
}
.s-benefits .container .content_benefits .info_benefits .item_benefits{
    display: grid;
    gap: .8rem;
    padding: 1rem;
    justify-items: center;
}
.s-benefits .container .content_benefits .image_benefits{
    display: grid;
    justify-content: end;
    align-items: flex-end;
}
.s-benefits .container .content_benefits .image_benefits img{
    max-width: max-content;
    height: 512px;
    object-fit: contain;
}

.s-for-woman_for-man {
    background: linear-gradient(254.37deg, #000000 0.77%, #383329 99.69%);
}
.s-for-woman_for-man .container h2 {
    color: #fff;
    text-align: center;
    font-size: var(--title);
}
.s-for-woman_for-man .container h3 {
    color: #fff;
    font-size: var(--subtitle);
}
.s-for-woman_for-man .container li {
    color: #fff;
    line-height: 180%;
}
.s-for-woman_for-man .container a{
    margin-top: 1rem;
    place-self: center;
}
.s-for-woman_for-man .container .content_for-woman_for-man {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
}
.s-for-woman_for-man .container .content_for-woman_for-man .for_image img{
    height: 464.35px;
    max-width: max-content;
    object-fit: contain;
}

.s-recomend .container h2{ 
    text-align: center;
}
.s-recomend .container h3{ 
    text-align: center;
}
.s-recomend .container p{ 
    text-align: center;
}

.s-recomend .container .content_recomend{ 
        align-content: center;
        background: transparent;
        padding: 0; 
        display: grid;
        overflow: hidden;
}
.s-recomend .container .content_recomend figure {
    overflow: auto;
    scroll-snap-type: x mandatory;
    border-radius: .8rem;
  }
  
  .s-recomend .container .content_recomend img {
    scroll-snap-align: start; 
    border-radius: .6rem;
    margin-bottom: 15px;
    width: max-content;
    object-fit: contain;
    height: 512px;
    margin-right: .8rem;
  }
  
  /* layout */
  .s-recomend .container .content_recomend figure {
    align-content: center;
    border:none;
    background-color: transparent;
    display: grid;
    grid: auto / repeat(7, auto);
    grid-gap: 1em;
  }

.s-batle .container h2{
    text-align: center;
}
.s-batle .container .content_batle{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.25rem;
}
.s-batle .container .content_batle .maca_nemasway{
    display: grid;
    gap: 1rem;
}
.s-batle .container .content_batle .maca_nemasway img{
    display: block;
    width: 292px;
    height:256px;
    object-fit: contain;
}
.s-batle .container .content_batle .batle_vs {
    display: grid;
    justify-content: center;
    align-content: center;
}
.s-batle .container .content_batle .batle_vs img{
    display: block;
    width: 120px;
    height:192px;
    object-fit: contain;
}
.s-batle .container .content_batle .maca_outhers {
    display: grid;
    gap: 1rem;
}
.s-batle .container .content_batle .maca_outhers img{
    display: block;
    width: 292px;
    height:256px;
    object-fit: contain;
}

.s-offer .container h2{
    text-align: center;
}
.s-offer .container h3{
    text-align: center;
}
.s-offer .container p{
    text-align: center;
}
.s-offer .container strong{
    font-size: inherit;
    display: inline-block;
    margin-bottom: 1.25rem;
}
.s-offer .container .content_offer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    justify-items: center;
}
.s-offer .container .content_offer img{
    display: block;
    max-width: max-content;
    max-height: 329px;
    object-fit: contain;
}

.s-faq .container {
    justify-items: center;
}
.s-faq .container h2 {
    text-align: center;
}
.s-faq .container h3 {
    text-align: center;
}
.s-faq .container .content_faq{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.s-faq .container .content_faq details summary{
    padding: 1.25rem 1.25rem;
    border-radius: .8rem;
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}
.s-faq .container .content_faq details p{
    padding: .8rem 1rem;
    border-radius: .8rem;
}

  /* Página de obrigado */
.s-banner-obrigado{
    padding-top: 1.25rem;
    background: linear-gradient(180deg, #FDDE9B 0%, #F9C567 100%);
}
.s-banner-obrigado .container{
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.s-banner-obrigado .content_congratulations h2{
    font-size: clamp(4.5rem, 8vw, 6rem);
    text-transform: uppercase;
    color: var(--attention-green);
}
.s-banner-obrigado .content_congratulations h3{
    font-size: clamp(1.4rem, 2vw, 2rem);
    color: var(--body-text);
    font-weight: 500;
}
.s-banner-obrigado .content_congratulations p{
    font-size: clamp(1rem, 1.2vw, 1rem);
    color: var(--body-text);
    font-weight: 400;
}

/* Página de links*/
.s-links .container{
    justify-content: center;
}
.s-links .container ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.s-links .container ul li a .btn__links{
    width: 30rem;
    padding: 1rem 2rem;
    margin-top: 1.25rem;
    color: hsl(40, 67%, 14%);
    border-radius: 1rem;
    font-size: var(--body-text);
    font-weight: 500;
    text-align: center;
    text-transform: none;
    background-color: hsl(40, 96%, 80%);
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 1rem 1.953rem -1rem hsl(40, 67%, 14%);
}

.s-links .container ul li a .btn__links:hover{
    color: hsl(41, 96%, 80%);
    background-color: hsl(40, 67%, 14%);
    transition: background-color .4s ease;
    transition: box-shadow .4s ease;
    box-shadow: 0px 1rem 1.953rem -1rem hsl(40, 92%, 69%);
}
.s-links .container ul li a .pv{
    color: hsl(41, 96%, 80%);
    background-color: hsl(40, 67%, 14%);
}
