//Primary colors
$brand-mostarda-dark: ;
$brand-mostarda: ;
$brand-mostarda-light: ;

//Secondary colors
$brand-brown-dark: ;
$brand-brown: ;
$brand-brown-light: ;

//Attentions colors
$attention-red: #ff3830;
$attention-orange: #FF9501;
$attention-yellow: #FFCC00;
$attention-green: #34C85A;


//Neutral Colors
$gray-headline: #212529;
$gray-paragraph: #495057;
$white: #EDEDED;