:root{
    /* Colors */
    /* Color mode HSL(hue, saturation, lightness)*/
    /*
        blue    :   hsl(224, 69%, 14%)
        red     :   hsl(0, 100%, 43%)
        gray    :   hsl(0, 0%, 98%)
        green   :   hsl(100, 83%, 41%)
        yellow  :   HSL(52, 100%, 50%)
    */

    --hue: 41;
    --sat: 96%;
    --lig: 80%;

    --brand-color1: hsl(var(--hue), var(--sat), var(--lig)) ;
    --brand-color2: hsl(30, 64%, 44%);
    --title-color: hsl(40, 15%, 19%);
    --text-color: hsl(40, 15%, 19%);
    --bg-gradient: linear-gradient(105.88deg, #B86F28 0%, #FDDE9B 100%);
    --container-color: #fff;
    --attention-yellow: hsl(48, 98%, 47%);
    --attention-red: hsl(358, 85%, 52%);
    --attention-green: hsl(133, 87%, 39%);

    /* Font and typography */
    /* .5rem = 8px / 1rem = 16px */
    --body-font: 'Inter', sans-serif;
    --header: 5.8rem;
    --title: 3.8rem;
    --subtitle: 2.9rem;
    --subtitle-h4: 2.2rem;
    --body-text: 1.9rem;
    --details: 1.6rem;
    --smallest: 1.2rem;

}

/* Responsive typography */
@media only screen and (orientation: portrait)  {
    :root {
        --header: 4.8rem;
        --title: 3.2rem;
        --subtitle: 1.9rem;
        --body-text: 1.6rem;
        --details: 1.2rem;
        --smallest: 1.0rem;
    }
}