.card{
    max-width: 30rem;
    min-width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.6rem 2.4rem;
    gap: .6rem;
        
    img{
        width: max-content;
        object-fit: cover;
    }
    
    .card_title{
        font-size: var(--subtitle-h4);
        text-align: center;
    }
    
    .card_description{
        font-size: var(--body-text);
        text-align: center;
    }
    }